
@{
	ViewBag.Title = "UserDashboard";
}

<h2>UserDashboard</h2>

@if (Request.Cookies["UserEmail"] != null)
{
	<h1> welcome @Request.Cookies["UserEmail"].Value.ToString() </h1>
}


@*@if (Session["UserEmail"] != null)
{
	<h1> welcome @Session["UserEmail"].ToString() </h1>
	<h2>
		@Html.ActionLink("Logout", "Logout", User)
	</h2>

}
else {
	Response.Redirect("~/user/Login");

}*@